.list-group-item {
  cursor: pointer;
}
.list-group-item:hover {
  background-color: #eee;
}
.appContainer {
  margin: 20px;
}
.employeeList {
  margin: 10px;
}
.groupContainer {
  margin-top: 10px;
  padding: 10px;
}

.groupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.employeeListButtonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.employeeButtonItem {
  margin: 5px;
}
.groupMembersContainer {
  height: 550px;
  align-items: flex-start;
}
